<nav class="site-nav">
  <div class="site-nav-left">
    <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"/></a>
    <a class="site-nav-logo xxc-va-logo" href="/xxc-va-race-series-2018">
      <img src="/content/images/2018/09/xxcva.jpg"/>
    </a>
  </div>
  <div class="site-nav-right">
    <div class="social-links">
      {{#if @site.facebook}}
        <a class="social-link social-link-fb" href="{{facebook_url @site.facebook}}" target="_blank"
           rel="noopener">{{> "icons/facebook"}}</a>
      {{/if}}
      {{#if @site.twitter}}
        <a class="social-link social-link-tw" href="{{twitter_url @site.twitter}}" target="_blank"
           rel="noopener">{{> "icons/twitter"}}</a>
      {{/if}}
      <a class="social-link social-link-ig" href="https://www.instagram.com/creaturefromcarvinscove/" target="_blank"
         rel="noopener">{{> "icons/instagram"}}</a>
      <a class="social-link mtbva-menu-link" href="javascript:toggleMenu()">{{> "icons/bars-solid"}}</a>
    </div>
  </div>
</nav>
